<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "Positive Transaction flow" >
    <test name = "Non- FInancial transaction">
      <classes>
          <class name = "mBankingControlCenter.NonFinancialTransactions"/>
      </classes>        
    </test>
      <test name = "FInancial transaction">
      <classes>
          <class name="mBankingControlCenter.FinancialTransactions" />
      </classes>        
    </test> 
</suite>